menu "Testing"

    config COV_ENABLE 
        bool "Enable coverage analysis"
        default n
        help
            Enables the GCC flags and gcov linking to allow gcov analysis.
            This option is independent of unit testing; though enabling it in
            conjunction with unit testing allows analysis of what code is
            covered by the unit testing.

    config UT_ENABLE
        bool "Enable unit testing builds"
        default n
        help
            Enables the compilation of unit tests.

    config CRITERION_INCLUDE_PATH
        string "Criterion include path"
        help
            Include path for Criterion library.  Should be absolute for best
            results.

endmenu
