menu "Unit testing"

    config UT_ENABLE
        bool "Enable unit testing builds"
        default n
        help
            Enables the compilation of unit tests.

    config UT_ENABLE_COVERAGE
        bool "Enable coverage analysis"
        default n
        help
            Enables the GCC flags and gcov linking to allow gcov analysis.
            This option is independent of unit testing; though enabling it in
            conjunction with unit testing allows analysis of what code is
            covered by the unit testing.

    comment "                                                                 "
    comment "*****************************************************************"
    comment "Items below this point have no effect if unit tests are disabled!"
    comment "*****************************************************************"
    comment "                                                                 "

    config CRITERION_INCLUDE_PATH
        string "Criterion include path"
        help
            Include path for Criterion library.  Should be absolute for best
            results.

    choice CRITERION_API_VERSION
        prompt "Criterion assertion API version"
        default CRITERION_API_V2
        help
            Selects the version of the Criterion assertion API to use.
        config CRITERION_API_V3
            bool "v3"
            help
                Use Criterion v3 API.
        config CRITERION_API_V2
            bool "v2 (deprecated!)"
            help
                Use Criterion v2 API.
    endchoice

endmenu
