# editor/ide files
*.swp
*.swo
.gdbinit

# documentation output
doc/_build

# unwanted/compiled types
*.pyc
*.pyo
__pycache__/
build/

# generated configs & headers
.config
.config.old
src/config.h
src/version_autogen.h

# test/tooling outputs
callgrind.out.*
valgrind.log

