menu "tvwio library"

    config FORMAT_VERSION
        int "Config file format version"
        default 0
        help    
            Integer version number of the format file specification supported
            by this version of TagVFS.

    config TVWIO_READ_SECURITY
        bool "tvw_i contents overread prevention"
        default y
        help
            Perform anti-overread checks in TVW read library.  Recommended for
            security reasons.

    config TVWI_INVALID_XML_IS_FATAL
        bool "tvw_i die on invalid XML metadata"
        default y
        help
            Whether or not invalid XML in the metadata section should be
            considered a fatal error.

            If enabled, in this case, an error message is emitted and an error
            code (invalid metadata) is returned.

            If disabled, in this case, a warning message is emitted and the
            wrapper file struct's ``xmlroot`` property is NULL.  The as-read
            metadata section is still available in the ``metadata`` property.

    config TVWO_VALIDATE_XML
        bool "tvw_o die on invalid XML in metadata"
        default y
        help
            Whether or not the output side of tvwio lib should barf-and-die
            when asked to write knowingly-invalid XML into the metadata section
            of a wrapper file.  Recommended.

            If enabled, the metadata needs to be parsed before output and if
            the wrap->xmlroot value is NULL, tvw_write() will parse the
            metadata.  In this case, the parser will be given the same flags as
            the input parser, i.e., that of TVWI_XML_RD_FLAGS.

    config TVWMAKE_MAX_LINE_SIZE
        int "tvwmake max line size (read-until-EOF loop)"
        default 1024
        help
            Maximum size accepted by tvwmake executable's read-from-CLI loop,
            *in each line*.

    config TVWMAKE_MAX_META_SIZE
        int "tvwmake max metadata size"
        default 65536
        help
            Maximum buffer size for metadata input to tvwmake executable.

    config TVWMAKE_MAX_FILE_SIZE
        int "tvwmake max file readin size"
        default 65536
        help
            Maximum buffer size for file contents input to tvwmake executable.
            This only takes effect when prompting user for file contents via
            stdin; no maximum file size is applied if accepting an
            already-existing file as input.

    menu "tvw_i xml reading flags"

        comment "Flags of the xmlParserOption enum defined in libxml2"

        config TVWI_XF_RECOVER
            bool "RECOVER"
            default n

        config TVWI_XF_NOERROR
            bool "NOERROR"
            default n

        config TVWI_XF_NOWARNING
            bool "NOWARNING"
            default n

        config TVWI_XF_PEDANTIC
            bool "PEDANTIC"
            default y

        config TVWI_XF_NONET
            bool "NONET"
            default y

        config TVWI_XF_IGNORE_ENC
            bool "IGNORE_ENC"
            default n

    endmenu

endmenu
