comment "Version metadata is not here!  See tv_version.py"

menu "Compiler options"

    config DEBUG
        bool "Debug mode (-g)"
        default n
        help
            Enables/disables compiler debug symbols.

            Needed for runtime debugging with gdb or equivalent; this sets the
            ``-g`` compiler flag and enables the BREAKPOINT macro and others.

    config DEBUG_BUILD
        bool "CMake debug mode"
        default n
        help
            Enables verbose makefiles (i.e., print compile commands as they're
            run).  Helpful for linker errors or messing with the build process.

    choice WARNING_VERBOSITY
        prompt "Warning strictness"
        default WARN_PEDANTIC
        help
            Defines warning control flags passed to the compiler.
        config WARN_SHUTUP
            bool "-fsyntax-only"
            help
                Only report (and break on) syntax errors.
        config WARN_NONE
            bool "-w (inhibit all warnings)"
            help
                Inhibit all warnings from being issued.
        config WARN_NORMAL
            bool "No warning control flags"
            help
                Default warning level; no extras, no inhibited.
        config WARN_WALL
            bool "-Wall"
            help
                Set the ``-Wall`` flag to the compiler.
        config WARN_WEXTRA
            bool "-Wall -Wextra"
            help
                Set the ``-Wall -Wextra`` flags to the compiler.
        config WARN_PEDANTIC
            bool "-Wall -Wextra -pedantic"
            help
                Set the ``-Wall -Wextra -pedantic`` flags to the compiler.
        config WARN_WERROR
            bool "-Wall -Wextra -pedantic -Werror"
            help
                Equivalent to ``-Wall -Wextra -pedantic`` but treat all
                warnings as errors.  This is the compiler's "expert difficulty"
                setting.
    endchoice

    choice COMPILER_OPTIMIZATION
        prompt "Compiler optimization level (-O<x>)"
        default OPT_NONE
        help
            Compiler optimization flag setting.
        config OPT_NONE
            bool "-O0 (no optimization)"
            help
                -O0 flag: no optimizations applied.
        config OPT_O1
            bool "-O1 (minimal opimization)"
            help
                -O1 (also -O) flag: minimal optimizations.
        config OPT_O2
            bool "-O2 (more optimization)"
            help
                -O2 flag: more optimizations.
        config OPT_O3
            bool "-O3 (even more optimization)"
            help
                -O3 flag: even more optimizations.
    endchoice

    config OPT_OFAST
        bool "-Ofast (maximum optimization) !DANGER!"
        default n
        help
            -Ofast flag: aggressive optimizations.  This may break compiler
            standards compliance; use with caution!

    config OPT_OG
        bool "-Og (debug)"
        default n
        depends on DEBUG
        help
            -Og flag: apply optimizations that do not interfere with
            debugging.

    config OPT_OS
        bool "-Os (optimize size)"
        default n
        help
            -Os flag: apply optimizations to reduce code size.

endmenu

menu "Program-wide constants"

    choice LOG_VERBOSITY
        prompt "Logging verbosity (max)"
        default TV_LOG_WARN
        help
            Sets log level for limiting logging macros.
        config TV_LOG_NONE
            bool "(0) None"
        config TV_LOG_ERR
            bool "(1) Error"
        config TV_LOG_WARN
            bool "(2) Warning"
        config TV_LOG_INFO
            bool "(3) Info"
        config TV_LOG_DEBUG
            bool "(4) Debug"
        config TV_LOG_VERBOSE
            bool "(5) Verbose"
    endchoice

    config LOG_LEVEL
        int
        default 0 if TV_LOG_NONE
        default 1 if TV_LOG_ERR
        default 2 if TV_LOG_WARN
        default 3 if TV_LOG_INFO
        default 4 if TV_LOG_DEBUG
        default 5 if TV_LOG_VERBOSE

    config TV_ERR_START
        int "TagVFS-specific error values start"
        default 540
        help
            Set this to number of system error codes (errno) plus one to avoid
            overlap.

    config SINKFILE
        string "Sinkfile"
        default "/dev/null"
        help
            A file that can have arbitrary data dumped into it with no
            consequence.  For linux systems, ideally /dev/null.

            This is used for redirecting output when unwanted (at time of
            creation, libxml2's error messages to stderr that I'd rather not
            have printed -- instead catch the error and process it).

endmenu

# Include the lower levels last (for organization only -- we want the debug
# option to be near the top and quick to get to)
source "src/tvwio/Kconfig"
source "src/tvcompression/Kconfig"

